extend layout

block content
  .section
    .card-panel
      h5= title
      table.highlight
        thead
          tr
            th Username
            th Messages Sent
        tbody
          tr
            td #{user.username}
            td #{messages_sent.length}