link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css', type='text/css')
link(rel='stylesheet', href='/styles/chat.css', type='text/css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons', type='text/css')