extend layout

block content
  .container
    .section
      h1= title
      p A experimental realtime chat web application.
      p Powered by RethinkDB, Socket.io, Express, Passport and BcryptJS
      br
      a(href="chat").btn Start Chatting


