extend layout

block content
  .container
    .section
      .row
        .col.m12
          form(action="search", method="post")
            .input-field
              input(value=query, type="text", name="query")#search
              label.active(for="search") Search messages...
        .col.m12
          h6= title
          ul.collection
            if results.length == 0
              li.collection-item Not found
            each result in results
              li.collection-item.message
                strong= result.from
                .body= result.message
