body {
  background: #f2f2f2;
}

.nav-wrapper {
  margin: 0 2rem;
}

.card-panel.login {
  padding: 2rem;
}

.collection-item.online-user {
  display: flex;
}

.collection-item.online-user * {
  align-self: center;
}

.collection-item .user {
  display: flex;
}

.collection-item .user * {
  align-self: center;
}

.collection-item.message {
  display: flex;
}

.collection-item.message strong {
  width: 10%;
}

.collection-item.message .body {
  width: 90%;
  padding-right: 2rem;
}

.collection#messages {
  max-height: 20rem;
  overflow-y: auto;
}